ul {
  max-width: 80vw;
  list-style: none;
  padding: 0;
}

.cart {
  width: 82vw;
}

button.cart_submit{
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 20px #ccc;
  transition: all 0.3s ease-in-out;
}

button.cart_submit:hover {
  box-shadow: 0 0 5px #aaa;
}
