.coffee_btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  color: rgb(90, 48, 4);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  box-shadow: 0 5px 20px #ccc;
  transition: all 0.3s ease-in-out;
}

.coffee_btn:hover {
  box-shadow: 0 0 5px #aaa;
}

.back_btn {
  border: none;
  border-radius: 0.5rem;
  color: rgb(90, 48, 4);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  box-shadow: 0 5px 20px #ccc;
  transition: all 0.3s ease-in-out;
}

.back_btn:hover {
  box-shadow: 0 0 5px #aaa;
  color: rgb(90, 48, 4);
}
